:root {
  --color-primary: #2563eb;
  --color-primary-light: #60a5fa;
  --color-accent: #10b981;
  --color-bg: #ffffff;
  --color-text: #1e293b;

  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.logo svg {
  animation: saltitoSuave 5s infinite ease-in-out;
  transform-origin: center;
}

@keyframes saltitoSuave {
  0%   { transform: translateY(0); }
  5%   { transform: translateY(-5px); }
  10%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}





.link-animado {
  position: relative;
  color: #10b981 !important;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  animation: resplandor 1.5s infinite;
}

@keyframes resplandor {
  0% {
    text-shadow: 0 0 0px #10b981;
  }
  50% {
    text-shadow: 0 0 8px #10b981;
  }
  100% {
    text-shadow: 0 0 0px #10b981;
  }
}

