:root {
  --color-primary: #2563eb;
  --color-primary-light: #60a5fa;
  --color-accent: #10b981;
  --color-bg: #ffffff;
  --color-text: #1e293b;

  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Personalizaciones sutiles */
body {

}

a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-primary-light);
}
